/src/lib/PhSensor/build/
/src/lib/PhSensor/dist/

# dependencies
/node_modules
/build

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

#Eslint files
*.gch

# C++ Object files
*.o
runner
*.pem
